@page "/employeeoverview"

<h1 class="page-title">All employees</h1>

@if (Employees == null)
{
<p><em>Loading...</em></p> }
else
{
<BlazorAgGrid RowData="Employees" />

<BlazorAgGrid RowData="Employees" />
}